.Header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.link {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  width: 60px;
}

.link:hover {
  background: #fff;
  color: #3c4444;
  border-radius: 5px;
}

@media screen and (max-width: 992px) {
  .link {
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0;
  }
  .dropdown {
    margin: 10px 0;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
}

.image-logo {
  width: 50px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.dropdown-toggle {
  white-space: nowrap;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.image-avatar {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  border: 2px solid #fff;
}

@media screen and (min-width: 992px) {
  .dropdown-menu {
    left: -115px !important;
  }
}

.navbar {
  padding: 0;
}

.container-fluid {
  background: #202b36;
  box-shadow: 0px 0px 6px 4px rgb(0 0 0 / 50%);
}

.navbar-toggler {
  height: 25px;
  width: 25px;
  position: relative;
  background: #fff;
}

.navbar-toggler-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
}

.navbar-brand {
  padding: 10px 0;
}

.dropdown-menu {
  box-shadow: -2px 2px 2px rgb(0 0 0 / 10%);
}

.is-active {
  background: #fff;
  color: #202b36;
  border-radius: 5px;
  padding: 0 10px;
}

.brop-men {
  color: #202b36;
}
