.form-label {
  font-weight: bold;
}
.form-ctrl::-webkit-input-placeholder {
  opacity: 0.3;
}

.form-ctrl:-ms-input-placeholder {
  opacity: 0.3;
}

.form-ctrl::placeholder {
  opacity: 0.3;
}

.form-groupp:not(:first-child) {
  margin-top: 20px;
}

.text-danger {
  position: absolute;
}

.custom-select {
  padding: 10px 8px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.default-opt {
  opacity: 0.3;
}
